<h1>Role #<%= @role.id %></h1>

<p>
  <b>Movie:</b>
  <%= @role.movie.title %> (<%= @role.movie.year %>)
</p>

<p>
  <b>Actor:</b>
  <%= @role.actor.name %>
</p>

<p>
  <b>Character name:</b>
  <%= @role.character_name %>
</p>

<p>
  <b>Category:</b>
  <%= @role.category %>
</p>


